/*
	TypeCon for Tumblr CSS
*/

body, html {
	background: #27292a;
	border: 0;
	color: #333333;
	font-family: "ARS-Maquette-Web-Pro-1","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 150%;
	margin: 0;
	padding: 24px 0;
	}

pre {
	font-size: 10px;
	}

a {
	color: #D5AE22;
	text-decoration: none;
	}

a:hover {
	color: #334455;
	text-decoration: underline;
	}

h1 {
	color: #666;
	font-weight: normal;
	margin-bottom: 0;
	}

h2 {
	color: #666;
	font-weight: normal;
	margin-bottom: 0;
	}

h3 {
	color: #666;
	font-weight: normal !important;
	margin-bottom: 0;
	}

h4 {
	color: #666;
	font-weight: normal;
	margin-bottom: 0;
	}

img {
	background: #fff !important;
	border: 1px solid #999;
	margin: 0;
	padding: 5px;
	}

img a {
	background: #fff !important;
	margin: 0;
	text-decoration: none !important;
	}

input {
	border: 1px solid #999;
	}

.photo a, .disqus a {
	background: #fff !important;
	text-decoration: none !important;
	}

header {
	margin: 20px 0;
	}

section {
	margin: 50px 0;
	}

article,
footer {
	padding-bottom: 30px;
	} 

.wrapper {
	background: #FFFFFF;
	margin: auto;
	width: 520px;
	}

.datetime {
	border-right: 1px solid #999;
	clear: both;
	color: #666;
	float: left;
	font-size: 12px;
	line-height: 150%;
	margin-left: -250px;
	padding-right: 25px;
	position: relative;
	text-align: right;
	width: 200px;
	}

.navleft {
	float: left;
	font-size: 12px;
	position: relative;
	}

.navright {
	float: right;
	font-size: 12px;
	position: relative;
	}

.navcenter {
	font-size: 12px;
	text-align: center;
	width: 500px;
	}

.datetime a {
	color: #666;
	}


.short_quote {
	color: #666;
	font-size: 62px;
	line-height: 110%;
	margin: 0;
	padding: 0;
	}

.medium_quote {
	color: #666;
	font-size: 36px;
	line-height: 115%;
	margin: 0;
	padding: 0;
	}

.long_quote {
	color: #666;
	font-size: 24px;
	line-height: 130%;
	margin: 0;
	padding: 0;
	}

a .notes {
	background: none;
	text-decoration: none !important;
	}

.notes a {
	background: none;
	text-decoration: none !important;
	}

img .notes {
	border: 1px solid #999;
	margin: 0;
	padding: 3px;
	}

.notes img {
	border: 1px solid #999;
	margin: 0;
	padding: 3px;
	}

.disqus {
	color: #333 !important;
	font-family: Georgia, 'Times New Roman', Times !important;
	font-size: 16px;
	line-height: 150% !important;
	}

.regular_post_body img {
	max-width: 100%;
	}

.search_query {
	font-style: italic;
	}
